
     #welcome{color:chartreuse;background-color:rgba(255, 0, 0, 0.692);}
     #tour{font-family: Arial, Helvetica, sans-serif;}
     .author-name{color: crimson;}
     .sazek{background-color: rgba(0, 0, 255, 0.493); border:10px solid red; border-radius: 30px; margin: 10px 8px 9px 8px; padding:10px 8px 11px 12px;}

     .smartin{background-color: rgba(0, 128, 0, 0.486); border:10px dashed red; border-top-left-radius: 30px; border-bottom-right-radius:30px; margin: 10px 8px 9px 8px; padding:10px 8px 7px 11px;}

     .sundorban{background-color: rgba(128, 0, 128, 0.479); border:10px dotted red; border-top-right-radius:30px; border-bottom-left-radius:30px; margin: 10px 8px 9px 8px; padding: 10px 8px 7px 11px;}
    
        